* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-bg-color: rgba(255, 255, 255, 0.8);;
    --main-text-color: hsl(90, 50%, 50%);
    --main-hover-color: #621075ed;
    --main-border-color: #ccc;
  }
  html,
  body {
    background-color: var(--main-bg-color);
    position: relative;
    height: 100%;
    font-family: 'comfortaa', sans-serif;
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header img{
    width: 50px;
  }
  .wrapper {
    display: grid;
    grid-gap: 20px;
 }
 main  > *  {
    margin: 30px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
 }
 .top {
     display: grid;
     grid-template-areas: "main  cta1"
                          "left-side cta2";
 }
 
 .main {
     grid-area: main;
     border: 1px solid var(--main-border-color);
     display: flex;
     flex-direction: column;
     align-items: start;
     justify-content: center;
     text-align: justify;
 }
 .main img {
     width: 100%;
     height: 100%;
 }
 .coll {
     display: grid;
     border: 1px solid var(--main-border-color);
     grid-gap: 10px;
     justify-items: center;
     align-items: center;
     align-content: center;
 }
 .coll p {
     margin: 0;
 }
 .main > * {
     background-color: rgba(0, 0, 0, 0.085);
     padding: 5px;
     margin: 5px;
 }
 .left-side {
    grid-area: left-side;
 }
 .left-side ul {
        list-style-type: circle;
        margin-left: 3px;
        line-height: 1.5;
        padding: 10px;
        }  
        .left-side li {        
        border: 1px solid #ccccccf8;
        border-radius: 4px;
        margin-top: 3px;
 }
 .left-side h3 {
    border: 1px solid var(--main-border-color);
    background-color: #0b0a010b;
 }
 .coll1 {
     grid-area: cta1;     
     word-break: break-word;
     padding: 20px;
 }
 .coll1 {
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5;
 }
    .coll1 h1 {
        text-align: center;
        text-decoration: underline;
        color: var(--main-text-color);
    }
    .coll1 p {
      text-decoration: underline;
      color: var(--main-text-color);
      text-align: center;
    }
 .coll2 {
     grid-area: cta2;
 }
 .coll2 ul {
     list-style-type: circle;
     margin-left: 3px;
     line-height: 1.5;
     padding: 10px;
     }  
    .coll2 li {        
     border: 1px solid #ccccccf8;
     border-radius: 4px;
     margin-top: 3px;
    }
 .description {
     font-size: 16px;
     font-weight: 300;
 }
 

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    max-width: 50%;
    margin-left: 50px;
}

#searchplant {
    display: flex;
}
.search-container {
    display: flex;
    align-items: center;
    margin: 10px 20px 10px auto;
  }
  
  .search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #cccccc6e;
    border-radius: 4px;
    font-size: 16px;
    margin-right: 10px;
    text-transform: none;
  }
  
  .search-button {
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .search-button:hover {
    background-color: var(--main-text-color);
  }
    .logo img {
   width: 30px;
   margin-top: 20px;
  }


  .guides {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.guides{
    background-color: var(--main-bg-color);
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.guides .icon {
    color: gray
}
.guides-tips h1{
    text-align: center;
    background: #0b0a01;
    margin: 0;
}
.guide {
    border: 1px solid var(--main-text-color);
    margin: 10px;
}

  @media (max-width: 992px) {
    .top {
        grid-template-areas: 
        "main main"
        "cta1 cta1"
        "left-side left-side"
        "cta2 cta2";
        grid-template-columns: 1fr 1fr;
    }
    main {
        text-overflow: clip;
    }
    .main {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .coll1 {
        font-size: 15px;
        font-weight: 200;
        line-height: 1.3;
        text-indent: 50px;
     }
    .coll2 {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
  }
  
  @media (max-width: 768px) {
    .coll2 {
        width: 100%;
        height: 100%;
        overflow: auto;
    }
  }
  
  @media (max-width: 576px) {
    .top {
        grid-template-areas: 
        "cta1"
        "main"
        "left-side"
        "cta2";
          grid-template-columns: 1fr;
       }
       .search-input{
          width: 200px;
          margin: 5px;
          padding: 5px 10px;
       }
       .search-button {
          padding: 7px 10px;
       }
       .coll2 {
          width: 100%;
          height: 100%;
          overflow: auto;
       }
       .main img{
          max-width: 300px;
       }
    }
