* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --main-bg-color: hsla(0, 0%, 100%, 0.8);;
    --main-accent-color: hsl(90, 50%, 50%);
    --main-hover-color: #621075ed;
    --main-border-color: #ccc;
    --light: 248, 249, 250;
    --white: 255, 255, 255;
    --text-dark: green;
    --main-text-color: black;
    --btn-color: rgb(103, 201, 103);
}

@media (prefers-reduced-motion: no-preference) {
    :root {
      scroll-behavior: smooth; /*this line is not working for safari on IOS*/
    }
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/* left navbar items, logo and brand title */
.left-nav {
    display: flex;
    align-items: center;
    max-width: 50%;
    margin: 0;
}

.logo {
    max-width: 10%;
    margin: 0;
}

.title {
    color: var(--text-dark);
    margin: 0;
    font-size: 28px;
}
/* right navbar items, search bar for plants */
.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    max-width: 50%;
    margin-left: 50px;
}

#searchplant {
    display: flex;
    justify-content: flex-end;
}

/* general styling for inputs */
input[type='text'] {
    padding: 10px;
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    width: 350px;
}

input[type='text']:focus {
    outline: none;
    border-color: var(--main-text-color);
}

input[type='submit'] {
    padding: 10px 20px;
    border: 1px solid var(--main-border-color);
    border-radius: 5px;
    background-color: var(--btn-color);
    color: var(--main-text-color);
    font-weight: 700;
    cursor: pointer;
}

.bg-light {
    --bg-opacity: 1;
    background-color: rgba(var(--light), var(--bg-opacity)) !important;
}

.container,
.container-fluid {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

/* main area, including extra plant search button */
header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../images/Leafy-Vegetable-Garden.webp") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead:before {
    content: "";
    position: absolute;
    background-color: #acacac;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

header.masthead h1, header.masthead .h1 {
    font-size: 2rem;
}

.position-relative {
    position: relative !important;
}

.row {
    --gutter-x: 1.5rem;
    --gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--gutter-y));
    margin-left: calc(-0.5 * var(--gutter-x));
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--gutter-x) * 0.5);
    padding-left: calc(var(--gutter-x) * 0.5);
    margin-top: var(--gutter-y);
}
  
.col {
    flex: 1 0 0%;
}
/* large search in center of landing page */
.form-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lg-search {
    display: flex;
    align-items: center;
    width: 80%;
}

.justify-content-center {
    justify-content: center !important;
}

.text-center {
    text-align: center !important;
}

.text-white {
    --text-opacity: 1;
    color: rgba(var(--white), var(--text-opacity)) !important;
}

.mb-5 {
    margin-bottom: 3rem !important;
}

.col {
    flex: 1 0 0%;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-control::-webkit-date-and-time-value {
    height: 1.5em;
}

.form-control::-moz-placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control::placeholder {
    color: #6c757d;
    opacity: 1;
}

.form-control:disabled {
    background-color: #e9ecef;
    opacity: 1;
}

.form-control::file-selector-button {
    padding: 0.75rem 1rem;
    margin: -0.75rem -1rem;
    -webkit-margin-end: 1rem;
            margin-inline-end: 1rem;
    color: #212529;
    background-color: #e9ecef;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: 1px;
    border-radius: 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.col-auto {
    flex: 0 0 auto;
    width: auto;
}
/* styling for buttons */
button,
  [type=button],
  [type=reset],
  [type=submit] {
    -webkit-appearance: button;
    appearance: button;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    border: 1px solid transparent;
    border-radius: 0.375rem;
    background-color: transparent;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.btn-lg, .btn-group-lg > .btn {
    background-color: var(--btn-color) !important; 
    color: var(--main-text-color);
}

/* area with 3 features */
.features-icons-icon {
    height: 9rem;
    font-size: 4.5rem;
    align-items: center;
    justify-content: center;
}

.feature-title {
    font-weight: bolder;
}

.water {
    color: rgb(38, 181, 224);
}

.sun {
    color: rgb(255, 231, 109);
}

.clouds {
    color: rgb(178, 178, 178);
}

.scissors {
    color: rgb(61, 92, 139);
}

.d-flex {
    display: flex !important;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}
 /* showcase of 3 images */
.showcase .showcase-text {
    padding: 3rem;
    
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
    opacity: 0.85;
}
/* footer element */
.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
}

.h-100 {
    height: 100% !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.list-inline {
    padding-left: 0;
    list-style: none;
}

.list-inline-item {
    display: inline-block;
}

.list-inline-item:not(:last-child) {
    margin-right: 0.5rem;
}
footer ul li a {
    color: var(--text-dark);
    text-decoration: none;
}
/* general styling elements */
.mb-2 {
    margin-bottom: 0.5rem !important;
}

.text-muted {
    --text-opacity: 1;
    color: #6c757d !important;
}

.small {
    font-size: 0.875em;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

/* styling for results page */
html,
body {
    background-color: var(--main-bg-color);
    position: relative;
    height: 100vh;
    width: 100vw;
}

.wrapper {
    display: grid;
    grid-gap: 20px;

}

.top {
    display: grid;
    grid-template-areas: "left-side main main cta1"
                         "left-side main main cta2"
                         "test test test test"
                         "test test test test";
}

.main {
    grid-area: main;
    min-height: 400px;
    border: 1px solid var(--main-border-color);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.main img {
    max-width: 100%;
    max-height: 100%;
}

.coll {
    display: grid;
    border: 1px solid var(--main-border-color);
    grid-gap: 10px;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.coll p {
    margin: 0;
}

.main > * {
    background-color: rgba(0, 0, 0, 0.085);
    padding: 5px;
    margin: 5px;
}
@media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
}

.left-side {
    grid-area: left-side;
}

.left-side h3 {
    border: 1px solid var(--main-border-color);
    background-color: #0b0a010b;
}

.coll1 {
    grid-area: cta1;
}

.coll2 {
    grid-area: cta2;
}

.coll2 ul {
    list-style-type: circle;
    margin-left: 3px;
    line-height: 1.5;
    padding: 10px;
}  

.coll2 li {        
    border: 1px solid #ccccccf8;
    border-radius: 4px;
    margin-top: 3px;
}

.description {
    grid-area: test;
    border: 1px solid var(--main-border-color);
    word-break: break-word;
}

/* added for Solomon's reference. */
.result-page {
    margin: 0 auto;
    max-width: 1200px;
    padding: 10px;
}
#results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.116);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.116);
    transition: all 0.2s ease-in-out;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-items: center;
}
.default_image {
    border-radius: 5px;
    transition: all 0.2s ease-in-out; 
    margin: 0 auto;   
}   
.default_image img {
    max-width: 200px;
    border-radius: 5px;
    margin: 0 auto;
}
.default_image:hover {
    transform: scale(1.02);
}
.mainDiv{
color: var(--text-dark); /* color of the text root name  should've changed */
}
.mainDiv h1{
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
}
.mainDiv h1:hover{
    color: var(--main-accent-color);
}

.guides{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: var(--main-bg-color);
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.guides .icon {
    color: gray
}

.guides-tips h1 {
    text-align: center;
    background-color: var(--main-accent-color);
    margin: 0;
    font-size: 28px;
}

.guide {
    border: 1px solid var(--main-text-color);
    margin: 10px;
}

.hide {
    display: none;
}

@media (max-width: 500px) {
    * {
      margin: 2px;
      padding: 0;
    }
  
    .top {
      grid-template-areas:
        "left-side main"
        "description description"
        "cta1 cta1"
        "cta2 cta2";
    }
}

@media (min-width: 768px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.masthead h1, header.masthead .h1 {
      font-size: 3rem;
    }
    .top {
        display: grid;
        grid-template-areas:
          "left-side main"
          "description description"
          "cta2 cta2"
          "cta1 cta1";
    }
    .description {
      grid-column: 1 / 3; 
    }
    .about {
        grid-template-columns: 1fr;
    }
  
  }
@media (min-width: 992px) {
    .col-lg {
      flex: 1 0 0%;
    }
    .row-cols-lg-auto > * {
      flex: 0 0 auto;
      width: auto;
    }
    .row-cols-lg-1 > * {
      flex: 0 0 auto;
      width: 100%;
    }
    .row-cols-lg-2 > * {
      flex: 0 0 auto;
      width: 50%;
    }
    .row-cols-lg-3 > * {
      flex: 0 0 auto;
      width: 33.3333333333%;
    }
    .row-cols-lg-4 > * {
      flex: 0 0 auto;
      width: 25%;
    }
    .row-cols-lg-5 > * {
      flex: 0 0 auto;
      width: 20%;
    }
    .row-cols-lg-6 > * {
      flex: 0 0 auto;
      width: 16.6666666667%;
    }
    .col-lg-auto {
      flex: 0 0 auto;
      width: auto;
    }
    .col-lg-3 {
      flex: 0 0 auto;
      width: 25%;
    }
    .col-lg-4 {
      flex: 0 0 auto;
      width: 33.333%;
    }
    .col-lg-5 {
      flex: 0 0 auto;
      width: 41.66666667%;
    }
    .col-lg-6 {
      flex: 0 0 auto;
      width: 50%;
    }
    .col-lg-7 {
      flex: 0 0 auto;
      width: 58.33333333%;
    }
    .col-lg-9 {
      flex: 0 0 auto;
      width: 75%;
    }
    .col-lg-12 {
      flex: 0 0 auto;
      width: 100%;
    }
    .text-lg-start {
        text-align: left !important;
    }
    .mb-lg-0 {
        margin-bottom: 0 !important;
    }
    .mb-lg-3 {
        margin-bottom: 1rem !important;
    }
    .order-lg-2 {
        order: 2 !important;
    }

}

@media (max-width: 1200px) {
    .logo {
        max-width: 10%;
    }
    .whole-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left-nav {
        justify-content: center;
    }
    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

.weatherlist {
    color: rgb(10, 157, 10);
    font-family: 'Impact';
}
 
@media screen and (max-width: 992px) {    
    .mainDiv h1{
        font-size: 25px;

    }
}
   
.hardiness-location-container {
    width: 100%;
    height: 100%;
    overflow: auto;
}

div {
    position: relative;
}

svg {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 3em;
    height: 3em;
}

svg:hover {
    transform: scale(1.02);
}

#favorites button {
    margin-left: 1em;
}

.default_image {
    width: min-content;
}
